body {
    background: url("../images/Picture.png");

}

#head {
    font: 100px bold sans-serif;

}

#question {
    padding: 10px;
}

#timer {
    color:red;
    padding: 25px;
}

.container {
    text-align: center;
    padding: 2%;
    margin-top: 2%;
    background-color: rgb(194, 194, 194);
}

button {
    width: 500px;
    height: 100px;
    background-color:rgb(26, 194, 236);
    border: 3px solid rgb(156, 116, 116);
}

button:hover {
    background-color:rgb(238, 86, 75);
    color: black;
}

button:focus {
    background-color:white;
    color: black;
}

.col-5{
    margin-left: 50px;
    padding: 25px;
    color:white;
}

#alertDiv {
    padding: 1%;
    border: 4px solid #000;
    border-radius: 12px;
    position: fixed;
    top: 45vh;
    left: 35%;
    background: white;
    height: 10%;
    width: 30%;
    text-align: center;
    display: none;
    line-height: 2;
    z-index: 1;
}

#scoreDiv {
    padding: 5%;
    border: 4px solid #000;
    border-radius: 12px;
    position: fixed;
    top: 45vh;
    left: 25%;
    background: white;
    height: 25%;
    width: 50%;
    text-align: center;
    display: none;
    line-height: 2;
    z-index: 1;
}

.row {
    display: none;
}

